{% extends 'base.html.twig' %}

{% block title %}Edit Battle{% endblock %}

{% block body %}
    <h1>Edit Battle</h1>

    {{ include('battle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_battle_index') }}">back to list</a>

    {{ include('battle/_delete_form.html.twig') }}
{% endblock %}
